html {
	height: 100%;
}

figure {
	img {
		margin: 0 auto;
	}
}

header {
	@extend .jumbotron, .pb-0, .mb-0;
}

h1 {
  @include media-breakpoint-up(lg) {
    font-size: 4.25rem;
  }
}

footer {
  font-size: 1.2rem;
  font-weight: 200;
}

body {
  @extend .container, .d-flex, .flex-column, .justify-content-center, .text-center;

  min-height: 100vh;
}

.not {
	header {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
